# Identificação do participante

Preencha a célula abaixo com sua matrícula no formato F + 7 algarismos, sem dígito verificador.

Exemplo:

    chaveF = "F1234567"

In [1]:
chaveF = "F0429482"

# Desafio Engenharia de Dados

A Dipes precisa fazer o acompanhamento do cumprimento dos indicadores de algumas Unidades Estratégicas e solicitou à UAN o desenvolvimento de um dashboard. Os colegas da equipe de Dataviz identificaram a necessidade de <b>disponibilização de algumas bases de dados</b> para desenvolvimento do dashboard, principalmente para o acompanhamento das <b>Trilhas de Capacitação</b> das Unidades Estratégicas:

|PREFIXO|SIGLA|
|---|---|
|8008|DIREC|
|8556|DICRE|
|8559|DIPES|
|8593|DIGOV|
|9797|UCI|
|9880|DIMEP|
|9968|UAN|
|9973|DIEMP|

A equipe de Engenharia de Dados foi então acionada para preparação das bases de dados conforme abaixo detalhado.

<b>Dados essenciais:</b>
- acompanhamento do cumprimento do indicador de capacitação por matrícula dos funcionários das Diretorias alvo da análise
- acompanhamento do cumprimento por UOR das Unidades Estratégicas, contendo a Vice-Presidência jurisdicionante

Além disso, a equipe de Dataviz solicitou que a equipe de engenharia reunisse algumas informações úteis para análise e levantamento de insights, tais como:
- dados de função, escolaridade, idade, tempo de banco e estado civil de cada funcionário das dependências citadas.
- detalhamentos sobre a área dos cursos que os funcionários concluíram nos últimos 3 anos para identificação do perfil.

# Orientações Gerais:

1) Inclua sua matrícula na seção de Identificação, no início deste Notebook.

2) **Link para envio das soluções:**

- https://envio-academiabb.bb.com.br/

    - **Atenção:** não serão acatadas outras formas de envio. O link acima permite acesso com senha de portais externos.

3) Selecione a Trilha Engenharia ao enviar.

**Nome do arquivo:** cada participante deverá baixar o presente arquivo e renomeá-lo de modo a conter:

- A matrícula com F maiúsculo, sete algarismos e sem dígito (FXXXXXXX)

- A trilha a qual a entrega se refere em letras minúsculas: engenharia

- O nome não deve conter espaços em branco. Substitua-os por “_”.

- O versionamento será gerado automaticamente na subida do arquivo, por meio do timestamp do envio.

    - Exemplo1: F1234567_engenharia.ipynb

    - Exemplo2: F1234567_engenharia_v3.ipynb

**Formato:** .ipynb

- **Atenção:** não carregar nenhum outro formato de arquivo, pois será ignorado

**Prazo final:** até às 18h (horário de Brasília) do dia 20/09/2024.

## Requerimentos de versões

Para construção do desafio em qualquer ambiente diferente do [labblite](https://labblite.bb.com.br/), deverão ser utilizadas as versões de biblioteca abaixo especificadas:

|Biblioteca|Versão|
|---|---|
|pandas|1.5.2 ou inferior|
|numpy|1.23.5 ou inferior|
|unidecode|1.3.8 ou inferior|
|pathlib|sem indicativo de versão|
|glob|sem indicativo de versão|

Essas versões são padrão no labblite, e você pode checar após importação da biblioteca por meio da instrução:
    
    print(nome_biblioteca. __version__)

Caso identifique a necessidade de utilização de alguma biblioteca diferente das listadas acima, entre em contato com a comissão organizadora para verificar a possibilidade de utilização no script, sob o risco de gerar erros durante a validação.

## Pode:

- Inserir células no notebook.

    Obs: as células adicionadas após a seção do Boletim de Soluções não surtirão efeitos para fins de validação dos resultados dos exercícios propostos.

- Fazer vários envios (tantos quantos forem necessários).

- Nas máquinas do Banco, desenvolver na plataforma [Labblite](https://labblite.bb.com.br/)

- O participante que optar por desenvolver no computador pessoal, poderá utilizar qualquer plataforma que permita a execução de scripts em Python, desde que atente para as versões das bibliotecas mencionadas na seção "Requerimentos de versões" acima especificada.
    
    Atenção: consulte as versões homologadas pelo Banco no aplicativo <b>BB Verifica Software</b> antes de instalar qualquer aplicativo nas máquinas corporativas.

## Não pode:

- Compartilhar arquivos/código, sob pena de desclassificação de todas as partes envolvidas.

- Alterar as bases de dados disponibilizadas. Os itens contidos na pasta “bases” devem permanecer inalterados quanto a:
    - Nome e tipo dos arquivos/pastas
    - Conteúdo
    - Estrutura das pastas iniciando em “bases”

- Descompactar os arquivos correspondentes às bases de dados. Os arquivos disponibilizados no formato .zip deverão ser lidos nesse mesmo formato.

- Gerar arquivos de qualquer formato durante a execução, com exceção daqueles gerados pelo Boletim de Soluções.

- Utilizar outros arquivos além dos disponibilizados no pacote do desafio do Eixo Temático Engenharia de Dados.

- Excluir ou alterar linhas do Boletim de Soluções (exceto quando explicitamente orientado pela comissão organizadora do Programa).

- Apresentar erros no código no momento da validação.

- O tempo total de execução do notebook não poderá exceder 2 minutos. 

- Importar bibliotecas no código enviado para validação. Caso necessite instalar bibliotecas durante o desenvolvimento da solução, as linhas deverão ser comentadas antes do envio, sob o risco de apresentar erros ou exceder o tempo de execução do notebook durante a validação dos exercícios.
    
    *Atenção:* as bibliotecas mapeadas estarão previamente instaladas no ambiente de execução da solução validadora. Caso identifique a necessidade de utilizar alguma biblioteca diferente das mencionadas na seção "Requerimentos de versões", entre em contato com a comissão organizadora para verificar a viabilidade de utilização.

## Geras para o Nome Físico das colunas

- Observe atentamente a documentação constante no enunciado de cada exercício, para evitar apontamentos nas verificações.

- A ordem dos atributos deverá ser obedecida na construção dos DataFrames.

- A nomenclatura de todos os campos dos DataFrames deverá seguir o padrão de nomenclatura do Banco, conforme consulta disponível no Glossário.

- O nome físico não deve conter espaços, devendo as abreviações ser separadas por “_”. 

- Todas as palavras do Nome Lógico deverão ser abreviadas, com exceção apenas das preposições (ex.: de, com, para, até, etc.).

- Ao consultar o Glossário, é importante atentar para a existência de palavras compostas, que devem ser abreviadas juntas.

## Demais recomendações/Orientações

- Leia atentamente o enunciado dos exercícios. Eventuais cálculos, formatações, filtros, transformações ou arredondamentos dos dados serão detalhados na descrição de cada atributo.

- Verifique o indicativo de nível de dificuldade e de ordem de solução dos exercícios, pois alguns têm como requisito a conclusão de algum exercício anterior na íntegra.

- Não se esqueça de salvar seu projeto! Sugerimos fazer vários versionamentos dos arquivos, para não correr riscos de perder alterações e para ter um backup, caso algo não saia como o planejado.

- Não se assuste com os apontamentos de erros durante o desenvolvimento dos exercícios. Observe as orientações e dicas para solucioná-los com maior assertividade.

- Ao fazer junção de tabelas, não se esqueça de conferir as quantidades de linhas e colunas das tabelas originais e tenha sempre em mente o seu objetivo antes de escolher o método de junção (interna, esquerda, direita ou total).

- Ao copiar variáveis, utilize preferencialmente o método copy() para evitar corromper as variáveis que serão utilizadas para conferência dos exercícios.

- Faça envios parciais, tantos quanto for necessário. Não há limite de quantidade de envios. O ideal é submeter seu notebook a cada exercício concluído, para evitar acúmulo de apontamentos na validação. 

- Execute o Notebook na íntegra antes de efetuar seus envios para testar o tempo de execução e a ocorrência de erros, mesmo que ainda não tenha finalizado todos os exercícios.

- Utilize o Boletim de Soluções ao final do Notebook Modelo para checar a existência das variáveis de cada exercício. Não se esqueça de informar a sua chave F (chaveF) na seção de Identificação. 

- Após execução na íntegra do seu notebook, visualize suas variáveis finais, aquelas que serão utilizadas para correção dos exercícios, para chegar eventuais alterações indesejadas nas variáveis. Exemplo:
    
        exercicio1.info()
        exercicio2.info()


**Atenção:** encorajamos a colaboração entre os participantes, porém sempre no sentido de ajudar os demais a chegarem à resposta, nunca respondendo diretamente às perguntas ou compartilhando os arquivos/código.

# Importar bibliotecas

Use esse espaço para importar as bibliotecas necessárias para execução do seu notebook.

Lembrando que eventuais instalações de bibliotecas durante o desenvolvimento deverão ser retiradas ou comentadas antes do envio.

In [ ]:
# Atenção, somente descomente as células abaixo caso não esteja desenvolvendo no labblite
# após instalação, comente novamente as células

!pip3 install --force-reinstall --user pandas==1.5.2
!pip3 install --force-reinstall --user numpy==1.23.5
!pip3 install --force-reinstall --user unidecode==1.3.8

In [2]:
# as celulas abaixo referem-se a instalação e importação de bibliotecas para desenvolvimento da solução
# favor não alterar esta célula sem antes consultar a comissão organizadora

try:
    import micropip 
    await micropip.install('pandas')
    import pandas as pd
    await micropip.install('unidecode')
    from unidecode import unidecode
    await micropip.install('numpy')
    import numpy as np
    import warnings
    warnings.filterwarnings("ignore")
    from pathlib import Path
    import glob
    
    mensagem = "Importações de bibliotecas executadas com sucesso"
except:
    try:
        import pandas as pd
        from unidecode import unidecode
        import numpy as np
        import warnings
        warnings.filterwarnings("ignore")
        from pathlib import Path
        import glob

        mensagem = "Importações de bibliotecas executadas com sucesso"
    except Exception as e:
        mensagem = f"{e.args[0]} \nImportações de bibliotecas não executada"
finally:
    print(mensagem)

Importações de bibliotecas executadas com sucesso

# Exercício 1 - Tabela de Vínculo entre as Unidades Organizacionais

<b>Nível de dificuldade:</b> 1

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio1</b> com a tabela que contém o vínculo entre as UORs do Banco.

Na tabela abaixo especificamos as <b>informações descritivas</b> (nome, formato dos dados, etc.) dos atributos (colunas) que deverão constar no dataframe resultante:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Unidade Organizacional Vinculada|CD_UOR_VCLD|Int64|Código identificador de Unidade Organizacional (UOR) vinculada ou JURISDICIONADA.|N|VCL_UOR|CD_UOR_VCLD
|2|Código do Tipo de Vínculo|CD_TIP_VCL|Int64|Código identificador do Tipo de Vínculo ou JURISDIÇÃO utilizado para a vinculação entre Unidades Organizacionais.|N|VCL_UOR|CD_TIP_VCL
|3|Código da Unidade Organizacional Vinculadora|CD_UOR_VCLR|Int64|Código identificador da Unidade Organizacional vinculadora ou JURISDICIONANTE, conforme determinado Tipo de Vínculo ou jurisdição.|N|VCL_UOR|CD_UOR_VCLR
|4|Número do Intervalo de Nível Hierárquico|NR_ITVL_NVL_HRQO|Int64|Representa o intervalo de nível hierárquico entre a UOR Vinculada e a UOR Vinculadora. A partir deste atributo, é possível saber quantos níveis acima ou abaixo encontra-se uma UOR Vinculadora em relação à UOR Vinculada.|S|VCL_UOR|NR_ITVL_NVL_HRQO

Ao final do exerício, o resultado da consulta do cabeçado (<b>.head()</b>) do dataframe exercicio1 deverá seguir a estrutura abaixo exemplificada:

- código a ser executado:


    <i>exercicio1.head()</i>

- exemplo de resultado do código acima com valores fictícios:

||CD_UOR_VCLD|CD_TIP_VCL|CD_UOR_VCL|NR_ITVL_NVL_HRQO|
|---|---|---|---|---|
|0|9999|99|1111|&lt;NA&gt;|
|1|9999|101|2222|&lt;NA&gt;|
|2|9999|1100|3333|&lt;NA&gt;|
|3|9999|1200|4444|&lt;NA&gt;|
|34|9999|1220|5555|&lt;NA&gt;|

   
<b>Regra:</b> a ordem das colunas deverá obedecer à ordem da tabela de informações descritivas constante do enunciado.

<b>Dica 1:</b> verifique o <b>Vocabulário de Termos</b> anexo para saber mais sobre o termo <b>&lt;NA&gt;</b> e o tipo <b>Int64</b>.

<b>Dica 2:</b> os registros nulos somente deverão ser tratados quando expressamente orientado no enunciado do exercício.

In [2]:
exercicio1 = pd.read_csv('bases/VCL_UOR.csv', sep=";")

In [3]:
# Garantir que os tipos de dados estejam corretos
exercicio1['CD_UOR_VCLD'] = exercicio1['CD_UOR_VCLD'].astype('Int64')
exercicio1['CD_TIP_VCL'] = exercicio1['CD_TIP_VCL'].astype('Int64')
exercicio1['CD_UOR_VCLR'] = exercicio1['CD_UOR_VCLR'].astype('Int64')
exercicio1['NR_ITVL_NVL_HRQO'] = exercicio1['NR_ITVL_NVL_HRQO'].astype('Int64')

In [4]:
exercicio1.head()

   CD_UOR_VCLD  CD_TIP_VCL  CD_UOR_VCLR  NR_ITVL_NVL_HRQO
0         9598          99         4924              <NA>
1         9598         101         9598              <NA>
2         9598        1060        38047              <NA>
3         9598        1090         7638              <NA>
4         9598        1100         1993              <NA>

# Exercício 2 - Tabela de Unidades Organizacionais (UOR) do BB

<b>Nível de dificuldade (1 a 5):</b> 2

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio2</b> com a tabela UORs do BB, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Unidade Organizacional|CD_UOR|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|UOR|CD_UOR
|2|Nome da Unidade Organizacional Reduzido|NM_UOR_RDZ|object|Nome reduzido da Unidade Organizacional.|N|UOR|NM_UOR_RDZ
|3|Sigla da Unidade Organizacional|SG_UOR|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|S|UOR|SG_UOR
|4|Data Início de Validade|DT_INC_VLD|datetime64[ns]|Data em que o registro passa a ter validade (geralmente coincide com a data de inclusão).  Formato "AAAA-MM-DD".|N|UOR|DT_INC_VLD
|5|Código do Item da Arquitetura da Unidade Organizacional|CD_ITEM_AQTT_UOR|Int64|Código identificador dos Itens de Arquitetura que existem em uma Instituição Organizacional para orientação da estrutura das Unidades Organizacionais (oriundo do sistema IOR).|N|UOR|CD_ITEM_AQTT_UOR
|6|Código do Tipo da Unidade Organizacional|CD_TIP_UOR|Int64|Código identificador dos Tipos nos quais as Unidades Organizacionais podem ser classificadas. Ex.: "001 - Governo" "003 - Canal de Atendimento",  "004 - Dependências BB",  "005 - Exterior" etc. |N|UOR|CD_TIP_UOR
|7|Código da Dependência da Unidade Organizacional|CD_DEPE_UOR|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.Ex.: "0001 - Ag. Rio de Janeiro", "4886 - Ag. Estilo Alvorada-Brasília"|N|UOR|CD_DEPE_UOR
|8|Número da Ordem da Dependência Subordinada|NR_ORD_DEPE_SBDD|Int64|Número identificador de subordinação de uma dependência de IOR's que possuam em sua organização subdependências ou subordinadas. 0 indica a UOR principal da dependência|N|UOR|NR_ORD_DEPE_SBDD

<b>Regra 1:</b> considere apenas as UORs da Instituição Organizacional "Banco do Brasil".

<b>Regra 2:</b> considere apenas as UORs "em funcionamento".

<b>Dica: </b>atenção para o formato da data.

In [13]:
# Lista para armazenar os DataFrames lidos
dfs = []

# Loop para ler todos os arquivos uor01.zip até uor12.zip
for i in range(1, 13):
    # Formata o nome do arquivo com base no número
    arquivo_zip = f"bases/UOR/uor{i:02d}.zip"
    
    # Lê o arquivo zip e adiciona ao final da lista
    df = pd.read_csv(arquivo_zip, compression='zip', sep=',')
    dfs.append(df)

# Concatena todos os DataFrames em um único DataFrame
exercicio2 = pd.concat(dfs, ignore_index=True)

In [14]:
colunas_selecionadas = ['CD_UOR', 'NM_UOR_RDZ', 'SG_UOR', 'DT_INC_VLD', 
                        'CD_ITEM_AQTT_UOR', 'CD_TIP_UOR', 'CD_DEPE_UOR', 'NR_ORD_DEPE_SBDD', 'CD_IOR','CD_EST_UOR']

# Criando um novo DataFrame com apenas as colunas selecionadas
exercicio2 = exercicio2[colunas_selecionadas]

In [15]:
exercicio2['CD_UOR'] = exercicio2['CD_UOR'].astype('Int64')
exercicio2['NM_UOR_RDZ'] = exercicio2['NM_UOR_RDZ'].astype('object')
exercicio2['SG_UOR'] = exercicio2['SG_UOR'].astype('object')
exercicio2['DT_INC_VLD'] = pd.to_datetime(exercicio2['DT_INC_VLD'], format='%d/%m/%Y', errors='coerce')
exercicio2['DT_INC_VLD'] = pd.to_datetime(exercicio2['DT_INC_VLD'], format='%d/%m/%Y', errors='coerce')
exercicio2['CD_ITEM_AQTT_UOR'] = exercicio2['CD_ITEM_AQTT_UOR'].astype('Int64')
exercicio2['CD_TIP_UOR'] = exercicio2['CD_TIP_UOR'].astype('Int64')
exercicio2['CD_DEPE_UOR'] = exercicio2['CD_DEPE_UOR'].astype('Int64')
exercicio2['NR_ORD_DEPE_SBDD'] = exercicio2['NR_ORD_DEPE_SBDD'].astype('Int64')
exercicio2['CD_EST_UOR'] = exercicio2['CD_EST_UOR'].astype('object')

In [16]:
exercicio2 = exercicio2[
    (exercicio2['CD_IOR'] == 1)  &
    (exercicio2['CD_EST_UOR'] == 2)
]

In [17]:
exercicio2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43005 entries, 0 to 88332
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_UOR            43005 non-null  Int64
 1   NM_UOR_RDZ        43005 non-null  object
 2   SG_UOR            39719 non-null  object
 3   DT_INC_VLD        43005 non-null  datetime64[ns]
 4   CD_ITEM_AQTT_UOR  43005 non-null  Int64
 5   CD_TIP_UOR        43005 non-null  Int64
 6   CD_DEPE_UOR       43005 non-null  Int64
 7   NR_ORD_DEPE_SBDD  43005 non-null  Int64
 8   CD_IOR            43005 non-null  int64
 9   CD_EST_UOR        43005 non-null  object
dtypes: Int64(5), datetime64[ns](1), int64(1), object(3)
memory usage: 3.3+ MB

In [18]:
exercicio2.head()

,CD_UOR,NM_UOR_RDZ,SG_UOR,DT_INC_VLD,CD_ITEM_AQTT_UOR,CD_TIP_UOR,CD_DEPE_UOR,NR_ORD_DEPE_SBDD,CD_IOR,CD_EST_UOR
0,1,RIO,NaN,1936-05-02,54,4,1,0,1,2
2,3,MANAUS,NaN,1908-01-14,54,4,2,0,1,2
3,4,PRESIDENTE VARGAS,NaN,1908-07-01,54,4,3,0,1,2
4,5,SANTOS,NaN,1908-08-22,54,4,4,0,1,2
6,7,CAMPOS GOYTACAZES,NaN,1910-06-26,54,4,5,0,1,2

# Exercício 3 - Tabela de cursos realizados por funcionário

<b>Nível de dificuldade (1 a 5):</b> 1

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio3</b> com a tabela dos cursos realizados pelos funcionários, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula do funcionário. |N|?|?|
|2|Código do Curso|?|Int64|Identificador do curso. Campo numérico de 7 posições. |N|?|?|
|3|Data final do curso|?|datetime64[ns]|Data que identifica a finalizaçao do curso. Formato "AAAA-MM-DD".|N|?|?|
|4|Codigo de origem do curso|?|Int64|O conteudo deste campo indentificara a origem do curso. Exemplo: 01-ARH, 02-GTD, 03-PFP, 04-ALURA, 05-UNIBB, 17-SYNAPSE|N|?|?|

<b>Dica 1:</b> para construir o nome físico das tabelas, consulte as abreviações no Glossário de Termos.

<b>Dica 2:</b> atenção para o formato da matrícula.

In [11]:
# Lista para armazenar os DataFrames lidos
dfs = []

# Loop para ler todos os arquivos uor01.zip até uor12.zip
for i in range(1, 12):
    # Formata o nome do arquivo com base no número
    arquivo_zip = f"bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis{i:02d}.zip"
    
    # Lê o arquivo zip e adiciona ao final da lista
    df = pd.read_csv(arquivo_zip, compression='zip', sep=',')
    dfs.append(df)

# Concatena todos os DataFrames em um único DataFrame
exercicio3 = pd.concat(dfs, ignore_index=True)

In [13]:
exercicio3

        MATRICULA  CD_CSO  DT_FIM_CSO  CD_OGM_CSO
0        F3066439     127  2008-04-04           4
1        F3066439     350  2012-05-18           4
2        F3066439     569  2013-10-22           4
3        F3066439     828  2016-10-07           4
4        F3066439    1251  2013-11-13           4
...           ...     ...         ...         ...
1953336  F7961886    8504  2024-06-10          11
1953337  F7961886    2689  2024-06-13           4
1953338  F7961886    7221  2024-07-10           4
1953339  F7961886    2712  2024-07-28           4
1953340  F7961886  202384  2024-07-27          15

[1953341 rows x 4 columns]

# Exercício 4 - Tabela de cadastro dos funcionários

<b>Nível de dificuldade (1 a 5):</b> 2

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio4</b> com a tabela de cadastro dos funcionários, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula (F) do funcionário. |N|CAD_FUN|?
|2|Nome do funcionário|?|object|Nome do funcionário cadastrado no ARH. Formato: caixa alta, sem acentuação.|N|CAD_FUN|?
|3|Sigla do Tipo do Estado Civil|?|object|Sigla ARH que define o estado civil do funcionário. |N|CAD_FUN|?
|4|Código do Tipo de Nível de Instrução|?|Int64|Código ARH do nível de instrução. |N|CAD_FUN|?
|5|Data de nascimento|?|datetime64[ns]|Data de nascimento. Formato "AAAA-MM-DD".|N|CAD_FUN|?
|6|Código do Tipo de Gênero|?|Int64|Código ARH do sexo/gênero. 1 -Masculino, 2 - Feminino.|N|CAD_FUN|?
|7|Código do Prefixo da Dependência de Localização|?|Int64|Código do prefixo da dependência de localização (UOR). |N|CAD_FUN|?
|8|Código de Função ou Cargo Efetiva|?|Int64|Código ARH da função ou cargo efetivo. Exemplo: 610 - ESCRITURARIO, 12381 - ASSESSOR II UE etc. |N|CAD_FUN|?
|9|Data de Posse na Localização|?|datetime64[ns]|Data de posse na dependência de localização (UOR).  Formato "AAAA-MM-DD".|N|CAD_FUN|?
|10|Data de posse no BB|?|datetime64[ns]|Data de posse no Banco do Brasil. Formato "AAAA-MM-DD".|N|CAD_FUN|?

<b>Dica:</b> atenção para a formatação do nome.

In [14]:
exercicio4 = pd.read_csv('bases/CAD_FUN.csv', sep=",")

In [15]:
# Definindo a função de formatação de data
def formatar_data(data):
    # Adiciona zeros à esquerda para garantir que a string tenha 8 caracteres
    data = data.zfill(8)
    
    # Extrai dia, mês e ano da string
    dia = data[:2]
    mes = data[2:4]
    ano = data[4:]
    
    # Formata a data no formato dd/mm/yyyy
    data_formatada = f"{dia}/{mes}/{ano}"
    
    return data_formatada


exercicio4['NASC_DT'] = exercicio4['NASC_DT'].astype('str')
exercicio4['NASC_DT'] = exercicio4['NASC_DT'].apply(formatar_data)

In [16]:
exercicio4['MATRICULA'] = exercicio4['MATRICULA'].astype('Int64')
exercicio4['NOME'] = exercicio4['NOME'].astype('object')
exercicio4['EST_CIVIL'] = exercicio4['EST_CIVIL'].astype('object')
exercicio4['GRAU_INSTRUCAO'] = exercicio4['GRAU_INSTRUCAO'].astype('Int64')
exercicio4['NASC_DT'] = pd.to_datetime(exercicio4['NASC_DT'], format='%d/%m/%Y', errors='coerce')
exercicio4['SEXO'] = exercicio4['SEXO'].astype('Int64')
exercicio4['LOCALIZACAO'] = exercicio4['LOCALIZACAO'].astype('Int64')
exercicio4['FUNCAO_LOCALIZACAO'] = exercicio4['FUNCAO_LOCALIZACAO'].astype('Int64')
exercicio4['LOCALIZACAO_DT'] = pd.to_datetime(exercicio4['LOCALIZACAO_DT'], format='%Y-%m-%d', errors='coerce')
exercicio4['POSSE_BANCO_DT'] = pd.to_datetime(exercicio4['POSSE_BANCO_DT'], format='%Y-%m-%d', errors='coerce')

In [17]:
exercicio4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5287 entries, 0 to 5286
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MATRICULA           5287 non-null   Int64
 1   NOME                5287 non-null   object
 2   EST_CIVIL           5287 non-null   object
 3   GRAU_INSTRUCAO      5287 non-null   Int64
 4   NASC_DT             5287 non-null   datetime64[ns]
 5   SEXO                5287 non-null   Int64
 6   LOCALIZACAO         5287 non-null   Int64
 7   FUNCAO_LOCALIZACAO  5287 non-null   Int64
 8   LOCALIZACAO_DT      5287 non-null   datetime64[ns]
 9   POSSE_BANCO_DT      5287 non-null   datetime64[ns]
dtypes: Int64(5), datetime64[ns](3), object(2)
memory usage: 397.6+ KB

In [18]:
exercicio4.head()

,MATRICULA,NOME,EST_CIVIL,GRAU_INSTRUCAO,NASC_DT,SEXO,LOCALIZACAO,FUNCAO_LOCALIZACAO,LOCALIZACAO_DT,POSSE_BANCO_DT
0,665496,Agatha da Costa,2,8,1966-11-04,2,8008,12392,2024-05-21,2008-10-01
1,724351,Alexia Dias,8,8,1981-02-20,2,8008,12331,2017-02-21,2002-12-16
2,850407,Allana Mendonça,1,8,1983-10-04,2,8008,12331,2023-10-30,2012-06-11
3,872028,Amanda Sousa,2,8,1979-05-30,2,8008,12331,2022-05-23,2015-08-03
4,971323,Ana Clara Montenegro,2,8,1982-12-09,2,8008,12331,2023-07-06,2016-01-25

# Exercício 5 - Incremento da tabela de cadastro de funcionários

<b>Nível de dificuldade (1 a 5):</b> 3

<b>Requisitos:</b> exercício 4

Criar um DataFrame Pandas chamado <b>exercicio5</b> contendo os campos adicionais do cadastro do funcionários, conforme abaixo detalhado:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula (F) do funcionário. |N|?|?|
|2|Nome do funcionário|?|object|Nome do funcionário cadastrado no ARH. Formato: caixa alta, sem acentuação.|N|?|?|
|3|Código de Função ou Cargo Efetiva|?|Int64|Código ARH da função ou cargo efetivo. Exemplo: 610, 12381, etc. |N|?|?|
|4|Nome da Função ou Cargo Efetivo|?|object|Nome da função ou cargo efetivo. Exemplo: 610 - ESCRITURARIO, 12381 - ASSESSOR II UE etc. |S|?|?|
|5|Código do Prefixo da Dependência de Localização|?|Int64|Código do prefixo da dependência de localização (UOR). |N|?|?|
|6|Data de Posse na Localização|?|datetime64[ns]|Data de posse na dependência de localização (UOR).  Formato "AAAA-MM-DD".|N|?|?|
|7|Data de posse no BB|?|datetime64[ns]|Data de posse no Banco do Brasil. Formato "AAAA-MM-DD".|N|?|?|
|8|Data de nascimento|?|datetime64[ns]|Data de nascimento. Formato "AAAA-MM-DD".|N|?|?|
|9|Código do Tipo de Gênero|?|Int64|Código ARH do sexo/gênero. 1 -Masculino, 2 - Feminino.|N|?|?|
|10|Sigla do Tipo do Estado Civil|?|object|Sigla ARH que define o estado civil do funcionário. |N|?|?|
|11|Nome do Tipo de Estado Civil|?|object|Descrição do estado civil do funcionário. |N|?|?|
|12|Código do Tipo de Nível de Instrução|?|Int64|Código ARH do nível de instrução. |N|?|?|
|13|Nome do Tipo de Nível de Instrução|?|object|Descrição do nível de instrução. |N|?|?|

<b>Regra 1:</b> para a descrição do estado civil, considere os valores abaixo:

|Cod.|Descrição|
|---|---|
|1|SOLTEIRO(A)|
|2|CASADO(A)|
|3|CASADO(A) COM FUNCIONARIA(O)|
|4|VIUVO(A)|
|5|SEPARADO(A) JUDICIAL OU EXTRAJ|
|8|DIVORCIADO(A)|
|M|SEPARADO(A) CONSENSUALMENTE|

<b>Regra 2:</b> para a descrição do nível de instrução, considere os valores abaixo:

|Cod.|Descrição|
|---|---|
|1|ENSINO FUNDAMENTAL|
|2|ENSINO MEDIO|
|3|SUPERIOR EM ANDAMENTO|
|4|SUPERIOR SEQUENCIAL|
|5|SUPERIOR GRADUACAO|
|6|POS-GRADUACAO-APERFEIC|
|7|POS-GRADUCAO-ESPEC|
|8|MESTRADO|
|9|DOUTORADO|

In [19]:
exercicio5 = pd.read_csv('bases/CAD_FUN.csv', sep=",")

In [20]:
# Definindo a função de formatação de data
def formatar_data(data):
    # Adiciona zeros à esquerda para garantir que a string tenha 8 caracteres
    data = data.zfill(8)
    
    # Extrai dia, mês e ano da string
    dia = data[:2]
    mes = data[2:4]
    ano = data[4:]
    
    # Formata a data no formato dd/mm/yyyy
    data_formatada = f"{dia}/{mes}/{ano}"
    
    return data_formatada


exercicio5['NASC_DT'] = exercicio5['NASC_DT'].astype('str')
exercicio5['NASC_DT'] = exercicio5['NASC_DT'].apply(formatar_data)

In [21]:
exercicio5['MATRICULA'] = exercicio5['MATRICULA'].astype('Int64')
exercicio5['NOME'] = exercicio5['NOME'].astype('object')
exercicio5['EST_CIVIL'] = exercicio5['EST_CIVIL'].astype('object')
exercicio5['GRAU_INSTRUCAO'] = exercicio5['GRAU_INSTRUCAO'].astype('Int64')
exercicio5['NASC_DT'] = pd.to_datetime(exercicio5['NASC_DT'], format='%d/%m/%Y', errors='coerce')
exercicio5['SEXO'] = exercicio5['SEXO'].astype('Int64')
exercicio5['LOCALIZACAO'] = exercicio5['LOCALIZACAO'].astype('Int64')
exercicio5['FUNCAO_LOCALIZACAO'] = exercicio5['FUNCAO_LOCALIZACAO'].astype('Int64')
exercicio5['LOCALIZACAO_DT'] = pd.to_datetime(exercicio5['LOCALIZACAO_DT'], format='%Y-%m-%d', errors='coerce')
exercicio5['POSSE_BANCO_DT'] = pd.to_datetime(exercicio5['POSSE_BANCO_DT'], format='%Y-%m-%d', errors='coerce')

In [22]:
estado_civil_dict = {
    '1': 'SOLTEIRO(A)',
    '2': 'CASADO(A)',
    '3': 'CASADO(A) COM FUNCIONARIA(O)',
    '4': 'VIUVO(A)',
    '5': 'SEPARADO(A) JUDICIAL OU EXTRAJ',
    '8': 'DIVORCIADO(A)',
    'M': 'SEPARADO(A) CONSENSUALMENTE'
}

# Use o método map para criar a nova coluna
exercicio5['NOME_EST_CIVIL'] = exercicio5['EST_CIVIL'].map(estado_civil_dict)

# Dicionário de mapeamento
mapeamento = {
    1: 'ENSINO FUNDAMENTAL',
    2: 'ENSINO MEDIO',
    3: 'SUPERIOR EM ANDAMENTO',
    4: 'SUPERIOR SEQUENCIAL',
    5: 'SUPERIOR GRADUACAO',
    6: 'POS-GRADUACAO-APERFEIC',
    7: 'POS-GRADUCAO-ESPEC',
    8: 'MESTRADO',
    9: 'DOUTORADO'
}

# Aplicando o mapeamento
exercicio5['NOME_GRAU_INSTRUCAO'] = exercicio5['GRAU_INSTRUCAO'].map(mapeamento)

In [23]:
exercicio5.head()

,MATRICULA,NOME,EST_CIVIL,GRAU_INSTRUCAO,NASC_DT,SEXO,LOCALIZACAO,FUNCAO_LOCALIZACAO,LOCALIZACAO_DT,POSSE_BANCO_DT,NOME_EST_CIVIL,NOME_GRAU_INSTRUCAO
0,665496,Agatha da Costa,2,8,1966-11-04,2,8008,12392,2024-05-21,2008-10-01,CASADO(A),MESTRADO
1,724351,Alexia Dias,8,8,1981-02-20,2,8008,12331,2017-02-21,2002-12-16,DIVORCIADO(A),MESTRADO
2,850407,Allana Mendonça,1,8,1983-10-04,2,8008,12331,2023-10-30,2012-06-11,SOLTEIRO(A),MESTRADO
3,872028,Amanda Sousa,2,8,1979-05-30,2,8008,12331,2022-05-23,2015-08-03,CASADO(A),MESTRADO
4,971323,Ana Clara Montenegro,2,8,1982-12-09,2,8008,12331,2023-07-06,2016-01-25,CASADO(A),MESTRADO

# Exercício 6 - Tabela Catálogo de Cursos

<b>Nível de dificuldade (1 a 5):</b> 3

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio6</b> contendo o catálodo de cursos e formações do Banco, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código do Curso|?|Int64|Identificador do curso. Campo numérico de 7 posições. |N|?|?|
|2|Nome do Curso|?|object|Nome genérico do curso. |N|?|?|
|3|Texto do Curso|?|object|Breve descrição do assunto abordado pelo curso. |N|?|?|
|4|Texto do Objetivo do Curso|?|object|Texto que descreve o objetivo do curso. |N|?|?|
|5|Texto do Desempenho Esperado|?|object|Texto que descreve o desempenho esperado no curso para o treinando. |S|?|?|
|6|Texto do Objetivo Estratégico|?|object|Texto que descreve quais são os objetivos estratégicos do curso. |S|?|?|
|7|Código da Área de Conhecimento|?|Int64|Código da área de conhecimento do curso. Campo numérico de 3. Exemplo: Área: 170 (Será este atributo) Subárea: 170.050 conhecimento: 170.050.0025.|S|?|?|
|8|Nome da Área de Conhecimento|?|object|Descrição da área de conhecimento do curso.|S|?|?|
|9|Código da Sub Área de Conhecimento|?|Int64|Código da sub-área do conhecimento. Exemplo: Área: 170 Subárea: 170.050 (Será o 050) conhecimento: 170.050.0025.|S|?|?|
|10|Nome da Sub Área de Conhecimento|?|object|Descrição da sub-área do conhecimento.|S|?|?|
|11|Código do Conhecimento do Curso|?|Int64|Código do conhecimento. Identifica o conhecimento do curso.|N|?|?|
|12|Nome do Conhecimento do Curso|?|object|Descrição do conhecimento do curso.|S|?|?|
|13|Quantidade de Carga Horária do Curso|?|Int64|Carga horária total do curso em horas|S|?|?|
|14|Código do Tipo da Formação Superior|?|Int64|Código identificador da formação superior. Ex:   35- Pós-Graduação;  36- Mestrado;  37- Doutorado. |S|?|?|
|15|Texto do Tipo da Formação Superior|?|object|Descrição da formação superior. |S|?|?|
|16|Código da Modalidade do Curso|?|Int64|Indica o código da modalidade do curso. Sendo: 01 - Presencial; 02 - Auto-instrucional; 03 - Em serviço; 09 - A regularizar |N|?|?|
|17|Código do Nível do Curso|?|Int64|Identificador do tipo do nível do curso (enfoque de aprendizagem). Sendo: 01 - Fundamental; 02 - Instrumental; 03 - Estratégico; 04 - Acadêmico; 09 - A classificar. |N|?|?|
|18|Código da Natureza do Curso|?|Int64|Identificador da natureza do curso. 01 - Atualização; 02 - Formação; 03 - Aperfeiçoamento; 04 - Qualificação. |N|?|?|
|19|Código do Tipo de Origem do Curso|?|Int64|Código dos tipos de origem do curso. 01 - Desenvolvido pelo banco; 02 - Contratado no mercado; 03 - Em parceria |N|?|?|
|20|Código do Tipo de Público|?|Int64|Código dos tipos de público (participação) que o curso pode ter. Ex.: 1- Interno;  2- externo; 3- misto. |N|?|?|
|21|Indicador de Vigência do Curso|?|object|Indica a utilização do curso. Possíveis valores: "S" - (SIM) Em Linha; "N" - (NÃO) Fora de linha |N|?|?|
|22|Indicador de Trilha de Estratégica|?|object|Indica se o curso faz parte da Trilha de Estratégica de Capacitação. Possíveis valores: "S" - (SIM); "N" - (NÃO)|N|?|?|
|23|Nome da Etapa|?|object|Descrição do tema da etapa de capacitação para os cursos que fazem parte da Trilha Estratégica. Possíveis valores: ASG, NEGOCIOS, LIDERANCA, TRANSFORMACAO DIGITAL. Formato: caixa alta, sem acentuação.|S|?|?|

<b>Regra 1:</b> todas as colunas de texto devem ser formatadas conforme o padrão caixa alta e sem acento.

<b>Regra 2:</b> os registros das colunas de texto que contiverem nulos deverão permanecer nulos ao final das transformações.

<b>Regra 3:</b> excluir registros que atendam a alguma das regras abaixo:

- quando o Texto do Objetivo do Curso for igual a 'TESTE EDUCA' ou 'TESTE GTD' ou 'TESTE' ou 'TESTANDO' ou 'DADFAFD' ou 'SGASDG' ou 'NXYZ' ou 'R';
- quando o Texto do Objetivo do Curso for igual a 'A' e o Código da Área de Conhecimento for nulo;
- quando o Nome do Curso contiver 'EXCEL TESTE' ou 'TESTE DISCIPLINA' ou 'EXCLUIR' ou 'ALURA';
- quando o Nome do curso for contiver 'TESTE' e o Código da Área de Conhecimento for nulo, com exceção do curso 7740;
- quando o Nome do curso for contiver 'TESTE' e o Texto do Objetivo do Curso for igual a '.';
- quando o Texto do Curso contiver 'TESTE MATERIAL' ou 'TESTE GERAL'.
- quando o Nome do curso ou o Texto do Curso contiverem 'EXCLUIDO'.

In [25]:
# Lista para armazenar os DataFrames lidos
dfs = []

# Loop para ler todos os arquivos uor01.zip até uor12.zip
for i in range(1, 4):
    # Formata o nome do arquivo com base no número
    arquivo_zip = f"bases/CSO/cso{i:02d}.zip"
    
    # Lê o arquivo zip e adiciona ao final da lista
    df = pd.read_csv(arquivo_zip, compression='zip', sep=',')
    dfs.append(df)

# Concatena todos os DataFrames em um único DataFrame
exercicio6 = pd.concat(dfs, ignore_index=True)

In [26]:
exercicio6_aux1 = pd.read_csv('bases/CNH.csv', sep=",")

In [27]:
exercicio6_aux2 = pd.read_csv('bases/AREA_CNH.csv', sep=",")

In [28]:
exercicio6_aux3 = pd.read_csv('bases/lista_treinamentos.csv', sep=",")

In [29]:
exercicio6_aux4 = pd.read_csv('bases/SUB_AREA_CNH.csv', sep=",")
exercicio6_aux4 = exercicio6_aux4[['CD_AREA_CNH', 'NM_SUB_AREA_CNH']]

In [30]:
exercicio6_aux5 = pd.read_csv('bases/TIP_FRMC_SUPR.csv', sep=",")

In [31]:
# Realizando o inner join
exercicio6 = pd.merge(exercicio6, exercicio6_aux1, left_on='CD_CNH_CSO', right_on='CD_CNH', how='left')
exercicio6 = pd.merge(exercicio6, exercicio6_aux2, left_on='CD_AREA_CNH', right_on='CD_AREA_CNH', how='left')
exercicio6 = pd.merge(exercicio6, exercicio6_aux3, left_on='CD_CSO', right_on='Código Educa', how='left')
exercicio6 = pd.merge(exercicio6, exercicio6_aux4, left_on='CD_AREA_CNH', right_on='CD_AREA_CNH', how='left')
exercicio6 = pd.merge(exercicio6, exercicio6_aux5, left_on='CD_TIP_FRMC_SUPR', right_on='CD_TIP_FRMC_SUPR', how='left')

In [32]:
exercicio6['IN_TRLA_ESTG'] = exercicio6['Etapa'].apply(lambda x: 'S' if pd.notna(x) else 'N')

In [33]:
# Função para remover acentos e converter para maiúsculas
def remover_acentos_e_maiusculas(texto):
    if isinstance(texto, str):  # Verifica se o valor é uma string
        acentos = {
            'á': 'a', 'à': 'a', 'ã': 'a', 'â': 'a', 'ä': 'a',
            'é': 'e', 'è': 'e', 'ê': 'e', 'ë': 'e',
            'í': 'i', 'ì': 'i', 'î': 'i', 'ï': 'i',
            'ó': 'o', 'ò': 'o', 'õ': 'o', 'ô': 'o', 'ö': 'o',
            'ú': 'u', 'ù': 'u', 'û': 'u', 'ü': 'u',
            'ç': 'c',
            'Á': 'A', 'À': 'A', 'Ã': 'A', 'Â': 'A', 'Ä': 'A',
            'É': 'E', 'È': 'E', 'Ê': 'E', 'Ë': 'E',
            'Í': 'I', 'Ì': 'I', 'Î': 'I', 'Ï': 'I',
            'Ó': 'O', 'Ò': 'O', 'Õ': 'O', 'Ô': 'O', 'Ö': 'O',
            'Ú': 'U', 'Ù': 'U', 'Û': 'U', 'Ü': 'U',
            'Ç': 'C'
        }
        for acento, sem_acento in acentos.items():
            texto = texto.replace(acento, sem_acento)
        return texto.upper()
    return texto  # Retorna o valor original se não for uma string

# Lista de colunas a serem formatadas
colunas_para_formatar = ['NM_CSO', 'TX_CSO', 'TX_OBJT_CSO', 'TX_DSMP_EPRO', 'TX_OBJT_ESTG', 'NM_CNH', 'NM_AREA_CNH']

# Aplicando a formatação às colunas especificadas
for coluna in colunas_para_formatar:
    exercicio6[coluna] = exercicio6[coluna].apply(remover_acentos_e_maiusculas)

In [34]:
exercicio6 = exercicio6[['CD_CSO', 'NM_CSO', 'TX_CSO', 'TX_OBJT_CSO', 'TX_DSMP_EPRO', 'TX_OBJT_ESTG', 'CD_AREA_CNH', 'NM_AREA_CNH',
                     'CD_SUB_AREA_CNH', 'NM_SUB_AREA_CNH', 'CD_CNH_CSO', 'NM_CNH', 'CGHR_CSO', 'CD_TIP_FRMC_SUPR', 
                     'TX_TIP_FRMC_SUPR', 'CD_MDLD_CSO', 'CD_NVL_CSO', 'CD_NTZ_CSO', 'CD_TIP_OGM_CSO', 'CD_TIP_PBCO', 'IN_VGC_CSO', 'IN_TRLA_ESTG', 'Etapa']]

In [35]:
def tratar_dados(df):
    # Regras para filtrar os dados
    df = df[~df['TX_OBJT_CSO'].isin(['TESTE EDUCA', 'TESTE GTD', 'TESTE', 'TESTANDO', 'DADFAFD', 'SGASDG', 'NXYZ', 'R'])]
    df = df[~((df['TX_OBJT_CSO'] == 'A') & (df['CD_AREA_CNH'].isnull()))]
    df = df[~(df['NM_CSO'].str.contains('EXCEL TESTE|TESTE DISCIPLINA|EXCLUIR|ALURA', na=False))]
    df = df[~((df['NM_CSO'].str.contains('TESTE', na=False)) & (df['CD_AREA_CNH'].isnull()) & (df['NM_CSO'] != '7740'))]
    df = df[~((df['NM_CSO'].str.contains('TESTE', na=False)) & (df['TX_OBJT_CSO'] == '.'))]
    df = df[~(df['TX_CSO'].str.contains('TESTE MATERIAL|TESTE GERAL', na=False))]
    df = df[~(df['NM_CSO'].str.contains('EXCLUIDO', na=False) | df['TX_CSO'].str.contains('EXCLUIDO', na=False))]

    return df

exercicio6_aux = tratar_dados(exercicio6)

In [36]:
exercicio6['CD_CSO'] = exercicio6['CD_CSO'].astype('Int64')
exercicio6['NM_CSO'] = exercicio6['NM_CSO'].astype('object')
exercicio6['NM_CSO'] = exercicio6['TX_OBJT_CSO'].astype('object')
exercicio6['NM_CSO'] = exercicio6['TX_DSMP_EPRO'].astype('object')
exercicio6['NM_CSO'] = exercicio6['TX_OBJT_ESTG'].astype('object')
exercicio6['CD_AREA_CNH'] = exercicio6['CD_AREA_CNH'].astype('Int64')
exercicio6['NM_AREA_CNH'] = exercicio6['NM_AREA_CNH'].astype('object')
exercicio6['CD_SUB_AREA_CNH'] = exercicio6['CD_SUB_AREA_CNH'].astype('Int64')
exercicio6['NM_SUB_AREA_CNH'] = exercicio6['NM_SUB_AREA_CNH'].astype('object')
exercicio6['CD_CNH_CSO'] = exercicio6['CD_CNH_CSO'].astype('Int64')
exercicio6['NM_CNH'] = exercicio6['NM_CNH'].astype('object')
exercicio6['CGHR_CSO'] = exercicio6['CGHR_CSO'].astype('Int64')
exercicio6['CD_TIP_FRMC_SUPR'] = exercicio6['CD_TIP_FRMC_SUPR'].astype('Int64')
exercicio6['TX_TIP_FRMC_SUPR'] = exercicio6['TX_TIP_FRMC_SUPR'].astype('object')
exercicio6['CD_MDLD_CSO'] = exercicio6['CD_MDLD_CSO'].astype('Int64')
exercicio6['CD_NVL_CSO'] = exercicio6['CD_NVL_CSO'].astype('Int64')
exercicio6['CD_NTZ_CSO'] = exercicio6['CD_NTZ_CSO'].astype('Int64')
exercicio6['CD_TIP_OGM_CSO'] = exercicio6['CD_TIP_OGM_CSO'].astype('Int64')
exercicio6['CD_TIP_PBCO'] = exercicio6['CD_TIP_PBCO'].astype('Int64')
exercicio6['IN_VGC_CSO'] = exercicio6['IN_VGC_CSO'].astype('object')
exercicio6['IN_TRLA_ESTG'] = exercicio6['IN_TRLA_ESTG'].astype('object')
exercicio6['Etapa'] = exercicio6['Etapa'].astype('object')

In [37]:
exercicio6

,CD_CSO,NM_CSO,TX_CSO,TX_OBJT_CSO,TX_DSMP_EPRO,TX_OBJT_ESTG,CD_AREA_CNH,NM_AREA_CNH,CD_SUB_AREA_CNH,NM_SUB_AREA_CNH,...,CD_TIP_FRMC_SUPR,TX_TIP_FRMC_SUPR,CD_MDLD_CSO,CD_NVL_CSO,CD_NTZ_CSO,CD_TIP_OGM_CSO,CD_TIP_PBCO,IN_VGC_CSO,IN_TRLA_ESTG,Etapa
0,1,TESTE EDUCA,EDUCA TESTE PRESENCIAL ...,TESTE EDUCA,TESTE EDUCA,TESTE EDUCA,10,AREA DE ADMINISTRACAO ...,1,ADMINISTRACAO DE EMPRESAS ...,...,<NA>,NaN,1,1,1,1,3,N,N,NaN
1,1,TESTE EDUCA,EDUCA TESTE PRESENCIAL ...,TESTE EDUCA,TESTE EDUCA,TESTE EDUCA,10,AREA DE ADMINISTRACAO ...,1,ADM. - COMERCIO EXTERIOR ...,...,<NA>,NaN,1,1,1,1,3,N,N,NaN
2,1,TESTE EDUCA,EDUCA TESTE PRESENCIAL ...,TESTE EDUCA,TESTE EDUCA,TESTE EDUCA,10,AREA DE ADMINISTRACAO ...,1,ADM. - FINANCAS INTERNACIONAIS ...,...,<NA>,NaN,1,1,1,1,3,N,N,NaN
3,1,TESTE EDUCA,EDUCA TESTE PRESENCIAL ...,TESTE EDUCA,TESTE EDUCA,TESTE EDUCA,10,AREA DE ADMINISTRACAO ...,1,ADM. FINANCEIRA ...,...,<NA>,NaN,1,1,1,1,3,N,N,NaN
4,1,TESTE EDUCA,EDUCA TESTE PRESENCIAL ...,TESTE EDUCA,TESTE EDUCA,TESTE EDUCA,10,AREA DE ADMINISTRACAO ...,1,ADMINISTRACAO HOSPITALAR ...,...,<NA>,NaN,1,1,1,1,3,N,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061606,62988,MIGRADO CRH/GTD ...,ESPECIALIZACAO EM GESTAO DE MARKETING E RECURS...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,10,AREA DE ADMINISTRACAO ...,1,GOVERNANCA CORPORATIVA ...,...,35,POS-GRADUACAO LATO SENSU,9,4,2,2,3,S,N,NaN
1061607,62988,MIGRADO CRH/GTD ...,ESPECIALIZACAO EM GESTAO DE MARKETING E RECURS...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,10,AREA DE ADMINISTRACAO ...,1,ADM. - GESTAO DE OBRAS ...,...,35,POS-GRADUACAO LATO SENSU,9,4,2,2,3,S,N,NaN
1061608,62988,MIGRADO CRH/GTD ...,ESPECIALIZACAO EM GESTAO DE MARKETING E RECURS...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,10,AREA DE ADMINISTRACAO ...,1,ADM. - GESTAO CONTABIL ...,...,35,POS-GRADUACAO LATO SENSU,9,4,2,2,3,S,N,NaN
1061609,62988,MIGRADO CRH/GTD ...,ESPECIALIZACAO EM GESTAO DE MARKETING E RECURS...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,10,AREA DE ADMINISTRACAO ...,1,ADM. - IMOBILIARIO ...,...,35,POS-GRADUACAO LATO SENSU,9,4,2,2,3,S,N,NaN
1061610,62988,MIGRADO CRH/GTD ...,ESPECIALIZACAO EM GESTAO DE MARKETING E RECURS...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,MIGRADO CRH/GTD ...,10,AREA DE ADMINISTRACAO ...,1,NEGÓCIOS ...,...,35,POS-GRADUACAO LATO SENSU,9,4,2,2,3,S,N,NaN

# Exercício 7 - Nova tabela de UOR

<b>Nível de dificuldade (1 a 5):</b> 4

<b>Requisitos:</b> exercícios 1 e 2

Criar um DataFrame Pandas chamado <b>exercicio7</b> contendo as informações das UOR e Vice-Presidência jurisdicionante, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Dependência da Unidade Organizacional|?|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.|N|?|?
|2|Código da Unidade Organizacional|?|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|?|?
|3|Sigla da Unidade Organizacional|?|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|S|?|?
|4|Nome da Unidade Organizacional Reduzido|?|object|Nome reduzido da Unidade Organizacional.|N|?|?
|5|Código da Dependência da Vice-Presidência|?|Int64|Código identificador da Dependência da Vice-Presidência jurisdicionante da UOR.|S|?|?
|6|Sigla da Vice-Presidência|?|object|Sigla da Vice-Presidência jurisdicionante da UOR.|S|?|?

<b>Regra:</b> considere apenas as UORs cujo Item de Arquitetura corresponda a "DIRETORIA" ou "UNIDADE".

<b>Dica:</b> atenção no momento de fazer a junção das tabelas de UOR e Vínculo de UOR. Lembrando que uma mesma dependência possui várias UORs além da principal. Consulte a documentação das tabelas.

In [42]:
# Lista para armazenar os DataFrames lidos
dfs = []

# Loop para ler todos os arquivos uor01.zip até uor12.zip
for i in range(1, 13):
    # Formata o nome do arquivo com base no número
    arquivo_zip = f"bases/UOR/uor{i:02d}.zip"
    
    # Lê o arquivo zip e adiciona ao final da lista
    df = pd.read_csv(arquivo_zip, compression='zip', sep=',')
    dfs.append(df)

# Concatena todos os DataFrames em um único DataFrame
exercicio7 = pd.concat(dfs, ignore_index=True)

In [43]:
exercicio7.columns

Index(['CD_UOR', 'CD_IOR', 'NM_UOR_RDZ', 'NM_UOR', 'DT_INC_VLD', 'DT_FIM_VLD',
       'DT_ATL', 'HR_ATL', 'CD_RSP_ATL', 'CD_ITEM_AQTT_UOR', 'CD_TIP_UOR',
       'CD_EST_UOR', 'CD_PSS_UOR', 'NR_CNPJ_UOR', 'SG_UOR', 'IN_RST_ACSS_PSS',
       'IN_UOR_UNCO_MUN', 'DT_INC_ATVD_UOR', 'DT_PRVT_ECR_UOR',
       'CD_ENT_LCZC_UOR', 'CD_DEPE_UOR', 'NR_ORD_DEPE_SBDD', 'DV_CD_DEPE_UOR'],
      dtype='object')

In [5]:
exercicio7 = exercicio7[['CD_DEPE_UOR', 'CD_UOR', 'SG_UOR', 'NM_UOR_RDZ']]

In [19]:
exercicio2

,CD_UOR,NM_UOR_RDZ,SG_UOR,DT_INC_VLD,CD_ITEM_AQTT_UOR,CD_TIP_UOR,CD_DEPE_UOR,NR_ORD_DEPE_SBDD,CD_IOR,CD_EST_UOR
0,1,RIO,NaN,1936-05-02,54,4,1,0,1,2
2,3,MANAUS,NaN,1908-01-14,54,4,2,0,1,2
3,4,PRESIDENTE VARGAS,NaN,1908-07-01,54,4,3,0,1,2
4,5,SANTOS,NaN,1908-08-22,54,4,4,0,1,2
6,7,CAMPOS GOYTACAZES,NaN,1910-06-26,54,4,5,0,1,2
...,...,...,...,...,...,...,...,...,...,...
88327,88328,DIOPE/ATAC COMEX MPE,,2019-10-07,5,4,9600,99,1,2
88328,88329,CENOP N PF/CONSORCIO,,2021-04-07,96,4,3901,99,1,2
88330,88331,USI/GESAE,,2022-07-05,5,4,8896,99,1,2
88331,88332,DITEC/GECAP6/G6,,2023-09-06,5,4,9909,99,1,2
88332,88333,DITEC/PROC. DE TI,,2024-05-03,5,4,9903,99,1,2

In [6]:
item_arqtt = pd.read_csv('bases/ITEM_AQTT_UOR.csv', sep=",")

In [7]:
tipo_vinculo = pd.read_csv('bases/TIP_VCL.csv', sep=",")

In [59]:
vinculo_uor = pd.read_csv('bases/VCL_UOR.csv', sep=";")

In [68]:
teste = pd.merge(exercicio2, vinculo_uor, left_on='CD_UOR', right_on='CD_UOR_VCLD', how='left')
teste

,CD_UOR,NM_UOR_RDZ,SG_UOR,DT_INC_VLD,CD_ITEM_AQTT_UOR,CD_TIP_UOR,CD_DEPE_UOR,NR_ORD_DEPE_SBDD,CD_IOR,CD_EST_UOR,CD_UOR_VCLD,CD_TIP_VCL,CD_UOR_VCLR,NR_ITVL_NVL_HRQO
0,1,RIO,NaN,1936-05-02,54,4,1,0,1,2,NaN,NaN,NaN,NaN
1,3,MANAUS,NaN,1908-01-14,54,4,2,0,1,2,NaN,NaN,NaN,NaN
2,4,PRESIDENTE VARGAS,NaN,1908-07-01,54,4,3,0,1,2,NaN,NaN,NaN,NaN
3,5,SANTOS,NaN,1908-08-22,54,4,4,0,1,2,NaN,NaN,NaN,NaN
4,7,CAMPOS GOYTACAZES,NaN,1910-06-26,54,4,5,0,1,2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76267,88333,DITEC/PROC. DE TI,,2024-05-03,5,4,9903,99,1,2,88333.0,2819.0,7635.0,NaN
76268,88333,DITEC/PROC. DE TI,,2024-05-03,5,4,9903,99,1,2,88333.0,9191.0,6411.0,1.0
76269,88333,DITEC/PROC. DE TI,,2024-05-03,5,4,9903,99,1,2,88333.0,9198.0,46973.0,5.0
76270,88333,DITEC/PROC. DE TI,,2024-05-03,5,4,9903,99,1,2,88333.0,9199.0,4922.0,4.0
76271,88333,DITEC/PROC. DE TI,,2024-05-03,5,4,9903,99,1,2,88333.0,9202.0,4910.0,3.0

In [74]:
exercicio2[exercicio2['CD_UOR']==4918]

,CD_UOR,NM_UOR_RDZ,SG_UOR,DT_INC_VLD,CD_ITEM_AQTT_UOR,CD_TIP_UOR,CD_DEPE_UOR,NR_ORD_DEPE_SBDD,CD_IOR,CD_EST_UOR
4917,4918,VIFIN,VIFIN,1995-11-10,16,4,8063,0,1,2

In [62]:
teste['CD_TIP_VCL'].isnull().sum()

42530

In [69]:
teste[teste['CD_TIP_VCL']==1220.0]

,CD_UOR,NM_UOR_RDZ,SG_UOR,DT_INC_VLD,CD_ITEM_AQTT_UOR,CD_TIP_UOR,CD_DEPE_UOR,NR_ORD_DEPE_SBDD,CD_IOR,CD_EST_UOR,CD_UOR_VCLD,CD_TIP_VCL,CD_UOR_VCLR,NR_ITVL_NVL_HRQO
3565,5108,DIRCO-CONTROLADORIA,DIRCO,1995-10-09,2,4,8550,0,1,2,5108.0,1220.0,4918.0,1.0
3653,5114,DICRE/RISCO CREDITO,DICRE,1996-03-29,3,4,8556,0,1,2,5114.0,1220.0,6134.0,2.0
3708,5115,DIFIN-FINANCAS,DIFIN,1996-03-29,2,4,8557,0,1,2,5115.0,1220.0,4918.0,1.0
3750,5116,DISEC-SUP INFR PATR,DISEC,1996-03-29,2,4,8558,0,1,2,5116.0,1220.0,4911.0,1.0
3786,5117,DIPES-CULT E PESSOAS,DIPES,1996-03-29,2,4,8559,0,1,2,5117.0,1220.0,4911.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76120,88171,DIOPE/EQ.INFORMACOES,,2019-02-07,33,4,9600,97,1,2,88171.0,1220.0,4911.0,4.0
76156,88243,DIOPE/EQ. IND RESULT,,2019-02-06,33,4,9600,98,1,2,88243.0,1220.0,4911.0,4.0
76190,88328,DIOPE/ATAC COMEX MPE,,2019-10-07,5,4,9600,99,1,2,88328.0,1220.0,4911.0,3.0
76221,88331,USI/GESAE,,2022-07-05,5,4,8896,99,1,2,88331.0,1220.0,6134.0,3.0
76255,88333,DITEC/PROC. DE TI,,2024-05-03,5,4,9903,99,1,2,88333.0,1220.0,4915.0,2.0

In [47]:
vinculo_uor_vice_pres = vinculo_uor[vinculo_uor['CD_TIP_VCL'] == 1220]
vinculo_uor_vice_pres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1308 entries, 9 to 40846
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_UOR_VCLD       1308 non-null   int64
 1   CD_TIP_VCL        1308 non-null   int64
 2   CD_UOR_VCLR       1308 non-null   int64
 3   NR_ITVL_NVL_HRQO  1308 non-null   float64
dtypes: float64(1), int64(3)
memory usage: 51.1 KB

In [10]:
tipo_vinculo['NM_TIP_VCL'] = tipo_vinculo['NM_TIP_VCL'].str.rstrip()

In [11]:
tipo_vinculo[tipo_vinculo['NM_TIP_VCL'] == 'VICE-PRESIDENCIA']

,CD_TIP_VCL,CD_NTZ_TIP_VCL,CD_CTGR_TIP_VCL,CD_IOR,NM_TIP_VCL,TX_DCR_TIP_VCL
21,1220,2,9,1,VICE-PRESIDENCIA,...

# Exercício 8 - Verificação do cumprimento do indicador - Parte 1

<b>Nível de dificuldade (1 a 5):</b> 4

<b>Requisitos:</b> exercícios 4 e 6

Criar um DataFrame Pandas chamado <b>exercicio8</b> contendo as informações consolidadas de todos os funcionários dos prefixos alvo da análise, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Matrícula do Funcionário|?|Int64|Código da matrícula (F) do funcionário. |N|?|?|
|2|Código da Unidade Organizacional de Localização|?|Int64|Código da UOR de localização do funcionário.|N|?|?|
|3|Quantidade Total de Cursos|?|Int64|Quantidade total de cursos realizados pelo funcionário no ano atual|N|?|?|
|4|Quantidade Total de Cursos da Trilha|?|Int64|Quantidade total de cursos da Trilha Estratégica realizados pelo funcionário até o momento|N|?|?|
|5|Quantidade Total de Horas no Primeiro Semestre|?|Int64|Quantidade total de horas de treinamento realizadas pelo funcionário no primeiro semestre do ano atual|N|?|?|
|6|Quantidade Total de Horas da Trilha no Primeiro Semestre|?|Int64|Quantidade total de horas de treinamento da Trilha Estratégica realizadas pelo funcionário no primeiro semestre do ano atual|N|?|?|
|7|Quantidade Total de Horas no Segundo Semestre|?|Int64|Quantidade total de horas de treinamento realizadas pelo funcionário no segundo semestre do ano atual|N|?|?|
|8|Quantidade Total de Horas da Trilha no Segundo Semestre|?|Int64|Quantidade total de horas de treinamento da Trilha Estratégica realizadas pelo funcionário no segundo semestre do ano atual|N|?|?|
|9|Indicador de Cumprimento Total da Trilha no Primeiro Semestre|?|object|Indicador que sinaliza se o funcionário realizou todos os cursos da Trilha Estratégica até o primeiro semestre. Possíveis valores: "S" ou "N".|N|?|?|
|10|Indicador de Cumprimento Total da Trilha no Segundo Semestre|?|object|Indicador que sinaliza se o funcionário realizou todos os cursos da Trilha Estratégica até o semestre. Possíveis valores: "S" ou "N".|N|?|?|

<b>Regra1:</b> ignorar os cursos para os quais não houver informação sobre a Carga Horária.

<b>Regra2:</b> atentar para a ocorrência de registros duplicados.

<b>Dica:</b> verifique os prefixos alvo da análise na descrição do desafio.

# Exercício 9 - Verificação do cumprimento do indicador - Parte 2

<b>Nível de dificuldade (1 a 5):</b> 5

<b>Requisitos:</b> exercício 8

Criar um DataFrame Pandas chamado <b>exercicio9</b> contendo todas as informações do exercício 8 mais os atributos relacionados abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|10|Indicador de Funcionário Avaliável no Primeiro Semestre|?|object|Indicador que sinaliza se o funcionário é avaliável no primeiro semestre.|N|?|?|
|11|Indicador de Funcionário Avaliável no Segundo Semestre|?|object|Indicador que sinaliza se o funcionário é avaliável no segundo semestre.|N|?|?|

<b>Regra 1:</b> os funcionários que atenderem às situações abaixo elencadas serão considerados "Não avaliáveis"
- Permanecerem por mais de 90 dias em situação diferente de 100-Força de Trabalho Real no semestre.
- Atuarem como colaboradores (Disponibilidade ou Cessão) ou adidos por mais de 90 dias no semestre.
- Cujo total de dias em situação diferente de 100-Força de Trabalho Real somado ao total de dias em colaboração (Disponibilidade ou Cessão) for maior que 90 dias.
- Estiverem em situação de colaboração ou adição no encerramento da apuração semestral (fechamento do semestre: 30/06/2024 ou 31/12/2024)
- Funcionários empossados no BB há menos de 90 dias no encerramento da apuração semestral.

<b>Regra 2:</b> para fins de apuração do indicador de Capacitação Estratégica, considere:
- como colaboração os funcis que apresentarem situação "DISP" ou "ADIDOS" ou "CEDIDOS", exceto folga.
- como situação diferente de 100-Força de Trabalho Real apenas as situações que contemplarem:
  - Licença Saúde (LS)
  - Licença Interesse
  - Licença Maternidade
  - Licença Paternidade
  - Nascimento de Filho - Pai
  - Licença para assistência a pessoa enferna da família (LIC.P/AS.PES.ENF.FAM-70% PR)

# Exercício 10 - Cumprimento do indicador por prefixo

<b>Nível de dificuldade (1 a 5):</b> 5

<b>Requisitos:</b> exercício 9

<b><<< Parte 1 >>></b>

Criar um DataFrame Pandas chamado <b>exercicio10</b> contendo a consolidação das informações das UORs:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Dependência da Unidade Organizacional|?|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.|N|?|?|
|2|Código da Unidade Organizacional|?|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|?|?|
|3|Sigla da Unidade Organizacional|?|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|N|?|?|
|4|Nome da Unidade Organizacional Reduzido|?|object|Nome reduzido da Unidade Organizacional.|N|?|?|
|5|Código da Dependência da Vice-Presidência|?|Int64|Código identificador da Dependência da Vice-Presidência jurisdicionante da UOR.|N|?|?|
|6|Sigla da Vice-Presidência|?|object|Sigla da Vice-Presidência jurisdicionante da UOR.|N|?|?
|7|Quantidade Total de Funcionários da Unidade Organizacional|?|Int64|Quantidade total de funcionários localizados na UOR|N|?|?|
|8|Indicador de Unidade Organizacional Alvo da Análise|?|object|Indica se a UOR é alvo da análise. Possíveis valores: "S" ou "N". |N|?|?|
|9|Índice de Atingimento do Indicador no Primeiro Semestre|?|float64|Indicativo do percentual de atingimento do indicador no primeiro semestre, caso a UOR seja alvo da análise. Varia de 0 a 1, com duas casas decimais.|S|?|?|
|10|Índice de Atingimento do Indicador no Segundo Semestre|?|float64|Indicativo do percentual de atingimento do indicador no segundo semestre, caso a UOR seja alvo da análise. Varia de 0 a 1, com duas casas decimais.|S|?|?|

<b>Regras gerais:</b>
    
- deverão ser listadas apenas as UORs que possuem Vice-Presidência vinculada.

- verifique os prefixos alvo da análise na descrição do desafio.

Considere as regras abaixo para apuração do cumprimento do indicador para cada um dos prefixos alvo da análise:

<b>Regras de apuração individual</b>: o indicador será considerado cumprido para os funcionários que:
- completarem o mínimo de 20 horas total de cursos, sendo no mínimo 10h de treinamentos da Trilha Estratégica, realizados dentro do semestre de apuração
- tiverem cumprido toda a Trilha Estratégica na data de apuração, desde que tenha cumprido o mínimo de 20 horas total no semestre de apuração

<b>Regra de apuração por prefixo</b>: o indicador será considerado cumprido para os prefixos que tiverem 90% do público avaliável com o indicador cumprido no semestre.

<b><<< Parte 2 >>></b>

Considerando as regras de apuração acima, responda às perguntas abaixo tomando por base a apuração do primeiro semestre:

    a) quais os prefixos que cumpriram o indicador?

    b) qual o prefixo com menor índice de cumprimento do indicador?

    c) qual o prefixo com o maior índice de cumprimento do indicador?

    d) qual o prefixo com o menor índice de funcionários não avaliáveis?

    e) qual o maior índice de funcionários não avaliáveis dentre os observados nos prefixos avaliados?

Ao final do exercício, deverá ser criada uma variável para cada um dos itens acima, sendo o nome e o tipo delas conforme abaixo detalhado:

|Item|Nome da variável|Tipo de objeto|
|---|---|---|
|a)|exercicio10a|variável do tipo list, itens do tipo int|
|b)|exercicio10b|int|
|c)|exercicio10c|int|
|d)|exercicio10d|int|
|e)|exercicio10e|float (2casas decimais)|

<b>Regra 1:</b> utilize a função round() para eventuais arredondamentos.

<b>Regra 2:</b> em caso de empate, o desempate será pela maior quantidade de funcionários avaliáveis no prefixo.

# Boletim de soluções

In [24]:
# importar bibliotecas para geração dos artefatos
import pickle

In [ ]:
# Favor não alterar esta célula
# verificar a existência das variáveis e gerar artefatos para verificação
if 'exercicio1' in globals():
    print('DataFrame exercicio1 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio1.pkl','wb') as f:
        pickle.dump(exercicio1, f)
else:
    print('O exercício 1 não tem condições de ser avaliado.')

if 'exercicio2' in globals():
    print('DataFrame exercicio2 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio2.pkl','wb') as f:
        pickle.dump(exercicio2, f)
else:
    print('O exercício 2 não tem condições de ser avaliado.')
    
if 'exercicio3' in globals():
    print('DataFrame exercicio3 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio3.pkl','wb') as f:
        pickle.dump(exercicio3, f)
else:
    print('O exercício 3 não tem condições de ser avaliado.')

if 'exercicio4' in globals():
    print('DataFrame exercicio4 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio4.pkl','wb') as f:
        pickle.dump(exercicio4, f)
else:
    print('O exercício 4 não tem condições de ser avaliado.')

if 'exercicio5' in globals():
    print('DataFrame exercicio5 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio5.pkl','wb') as f:
        pickle.dump(exercicio5, f)
else:
    print('O exercício 5 não tem condições de ser avaliado.')
    
if 'exercicio6' in globals():
    print('DataFrame exercicio6 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio6.pkl','wb') as f:
        pickle.dump(exercicio6, f)
else:
    print('O exercício 6 não tem condições de ser avaliado.')

if 'exercicio7' in globals():
    print('DataFrame exercicio7 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}exercicio7.pkl','wb') as f:
        pickle.dump(exercicio7, f)
else:
    print('O exercício 7 não tem condições de ser avaliado.')

if 'exercicio8' in globals():
    print('DataFrame exercicio8 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}exercicio8.pkl','wb') as f:
        pickle.dump(exercicio8, f)
else:
    print('O exercício 8 não tem condições de ser avaliado.')

if 'exercicio9' in globals():
    print('DataFrame exercicio9 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}exercicio9.pkl','wb') as f:
        pickle.dump(exercicio9, f)
else:
    print('O exercício 9 não tem condições de ser avaliado.')


exercicio10_variaveis = {}

exercicio10_variaveis['variavel'] = []
exercicio10_variaveis['valor'] = []
if 'exercicio10a' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10a')
    exercicio10_variaveis['valor'].append(exercicio10a)
if 'exercicio10b' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10b')
    exercicio10_variaveis['valor'].append(exercicio10b)
if 'exercicio10b' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10c')
    exercicio10_variaveis['valor'].append(exercicio10c)
if 'exercicio10d' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10d')
    exercicio10_variaveis['valor'].append(exercicio10d)
if 'exercicio10e' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10e')
    exercicio10_variaveis['valor'].append(exercicio10e)

exercicio10_variaveis = pd.DataFrame(exercicio10_variaveis)
if exercicio10_variaveis.shape[0] == 5 and 'exercicio10' in globals():
    print('DataFrame exercicio10 localizado. Ele poderá ser enviado para validação.')
    print('Variáveis exercicio10a, exercicio10b, exercicio10c, exercicio10d e exercicio10e localizadas. Elas poderão ser enviadas para validação.')
    exercicio10_variaveis.to_csv(f'{chaveF}_exercicio10_variaveis.csv', header=True, sep=',', index=False)
    with open(f'{chaveF}exercicio10.pkl','wb') as f:
        pickle.dump(exercicio10, f)

else:
    print('O exercício 10 não tem condições de ser avaliado.')

DataFrame exercicio1 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio2 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio3 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio4 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio5 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio6 localizado. Ele poderá ser enviado para validação.